h4,h3, h5, h6,p {
    text-align: center;
}
.content{
    margin: 40px auto;
    margin-left: 300px;
}

.image-container {
margin: 20px 100px
}
.example{
   margin: 30px auto;
    max-width: 500px;
    background: wheat;
    border: solid 1px;
    padding: 5px;
}
.list{
    margin: 0 auto;
}
h5{
    padding-top: 20px;
}